@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Libertinus+Serif+Display&display=swap');

*{
    margin: 0px;
    padding: 0px;

}
section, aside, footer{
background-color: white;
}
:root{
--fonte01: Arial;
--fonte02: 'Asimovian', sans-serif;
--fonte03: 'Libertinus Serif Display', sans-serif;

--cor01:#FAE16C;
--cor02:#CDB758;
--cor03:#F9Db6A;
}

header{
    background-color: var(--cor01);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav{
padding-top: 5px;
}
nav > a{
    padding-right: 15px;
}

section, aside{
   
    padding: 15px;
    margin: 0px 45px 0px 45px;
    background-color: lightgray;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
}